<mat-card fxLayout="column" fxLayoutAlign="center center">
  <h1 [ngClass]="{ invisible: (showProgramSelection$ | async) == false }">
    Choose what child/children to do planning for
  </h1>
  <ng-container *ngIf="showProgramSelection$ | async">
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Choose child/children</mat-label>
      <mat-select (selectionChange)="programSelected($event)">
        <mat-option
          *ngFor="let program of programs$ | async"
          [value]="program.id"
        >
          {{ program.children | listChildren }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
  <app-loader *ngIf="showLoader$ | async"
    >Loading in your reading programs</app-loader
  >
</mat-card>
