<div *ngIf="showPrimary">
  <div
    cdkDropList
    #plannedList="cdkDropList"
    [cdkDropListData]="categories"
    [cdkDropListConnectedTo]="['currentList', 'completedList']"
    cdkDropListOrientation="horizontal"
    class="drop-zone"
    (cdkDropListDropped)="drop($event)"
    id="planned"
  >
    <div *ngIf="categories.length > 0" fxLayout="row" fxLayoutGap="1em">
      <app-reading-category
        fxFlex
        *ngFor="let c of categories"
        [category]="c"
        cdkDrag
        [showMoveToPlanned]="false"
        (edit)="editCategory($event)"
      >
      </app-reading-category>
    </div>
  </div>

  <div fxLayout="column" fxLayoutAlign="center center" class="space-top">
    <button mat-mini-fab matTooltip="Load more planned categories">
      <mat-icon>expand_more</mat-icon>
    </button>
  </div>
</div>
<div>
  <p class="text-center" *ngIf="showNoCategories">
    This plan doesn't contain any planned categories yet
  </p>
</div>
<div class="text-center" *ngIf="loadingError">
  <h3>An error occurred</h3>
  <p>
    Unfortunately something went wrong while loading the planned categories.
  </p>
</div>
<app-loader *ngIf="isLoading">Loading planned categories</app-loader>
