.content {
  max-width: 500px;
}

.mat-form-field{
  width: 100%;
}

button {
  margin-right: 1em;

  &.add {
    font-size: 1em;
    line-height: inherit;
  }
}

.configuration-unit {
  margin-bottom: 2em;
}
