<mat-card *ngIf="category !== null">
  <mat-card-title fxLayout="row" fxLayoutAlign="center center">
    <span fxFlex>{{ category.categoryName }}</span>
    <button
      fxFlex="nogrow"
      mat-icon-button
      [matMenuTriggerFor]="menu"
      aria-label="Example icon-button with a menu"
    >
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item id="current" *ngIf="showMoveToCurrent" (click)="moveToCurrent.emit()">
        <mat-icon>today</mat-icon>
        <span>Move to current</span>
      </button>
      <button mat-menu-item id="planned" *ngIf="showMoveToPlanned" (click)="moveToPlanned.emit()">
        <mat-icon>calendar_today</mat-icon>
        <span>Move to planned</span>
      </button>
      <button mat-menu-item id="completed" *ngIf="showMoveToCompleted" (click)="moveToCompleted.emit()">
        <mat-icon>assignment_turned_in</mat-icon>
        <span>Move to completed</span>
      </button>
      <button mat-menu-item id="remove" *ngIf="showRemove" (click)="remove.emit()">
        <mat-icon>clear</mat-icon>
        <span>Remove from plan</span>
      </button>
      <button mat-menu-item id="statistics" *ngIf="showStatistics" (click)="statistics.emit()">
        <mat-icon>insights</mat-icon>
        <span>View statistics</span>
      </button>
      <button mat-menu-item id="edit" *ngIf="showEdit" (click)="edit.emit()">
        <mat-icon>edit</mat-icon>
        <span>Edit category</span>
      </button>
    </mat-menu></mat-card-title
  >
  <mat-card-content>
    <ul>
      <li *ngFor="let word of category.cards">{{ word.textOnCard }}</li>
      <li *ngFor="let pad of numberToPad" class="hidden"></li>
    </ul>
  </mat-card-content>
</mat-card>
