<h1 mat-dialog-title *ngIf="isEditMode; else newCategory">
  Edit category "{{ edit.categoryName }}"
</h1>
<ng-template #newCategory>
  <h1 mat-dialog-title>Add new category</h1>
</ng-template>

<mat-dialog-content>
  <mat-form-field>
    <mat-label>Category name</mat-label>
    <input matInput />
  </mat-form-field>
  <table>
    <thead>
      <td>Word</td>
      <td *ngFor="let child of children">{{ child.firstName }}</td>
    </thead>
    <tr>
      <td>
        <mat-form-field>
          <mat-label></mat-label>
          <input matInput placeholder="Enter your word" (keyup.enter)="addWord()" />
        </mat-form-field>
      </td>
    </tr>
  </table>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
  <button mat-button [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>
