@import '~@angular/flex-layout/mq';

.logo {
  align-self: center;
  font-size: 2em;
  font-variant: small-caps;
  margin-right: 3em;

  @include layout-bp(lt-md) {
    font-size: 1em;
  }
}

mat-toolbar {
  background: white;
  color: #7bc708;

  button {
    margin-left: auto;
  }
}

mat-sidenav-content {
  padding: 1em;
}

.programChecklist {
  margin-top: 1em;
  display: block;
}

mat-list-item {
  .heading {
    font-weight: bold;
  }
}
