/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-drawer, .mat-drawer-container {
  background:WHITE;
  color: black;
}

.mat-list-base .mat-list-item {
  color: black;
}

.container {
  height: 100%;
}
