<div class="container h-100">
<div class="row h-100">
  <div class="col align-self-center">
    <div class="row">
      <div class="col">
        <h1>Welcome to the brand new Doman Early Lerning App</h1>
        <p>
          This is an app to keep track of your child (childrens) Doman programs.
          It will also in the future help planning the program and give statistics.
        </p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-sm">
        <h2>Log in</h2>
        <p>If you already have an account, <a href="#">click here to log in</a></p>
      </div>
      <div class="col">
        <h2>Register</h2>
        <p>Want to get started? Register for an account and get going in set it up in minutes.</p>
        <a href="#">Click here to register now</a>
      </div>
    </div>
  </div>
</div>
</div>
